body {
  background-image: url(bgPhoto.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bodyStyle {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.topHeading {
  text-align: center;
  font-size: xx-large;
  font-family: helvetica;
}

.pBox {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 20px;
  font-size: x-large;
}

p {
  color: lightgrey;
}

p#somethingElse {
  background-color: purple;
}

.moreContent {
  background-color: #0000FF;
}

#somethingElse {
  border: 5px dashed #FF0000;
}
