.bodyAbout {
  background-image: url(photos/bgPhoto.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 90%;
  margin: 0 auto;
}

.navStyle {
  padding: 20px;
  text-align: center;
}
.navBar {
  display: inline;
  font-size: x-large;
  margin-right: 20px;
  color: white;
}



.heading1 {
  text-align: center;
  font-size: xx-large;
  font-family: helvetica;
  width: 31.3%;
  float: left;
  padding: 2%;
  margin: 5% 0% 0% 0%;
  color: rgb(42, 124, 53);
}

.heading2 {
  text-align: center;
  font-size: xx-large;
  font-family: helvetica;
  color: rgb(42, 124, 53);
  width: auto;
  padding: 2%;
  margin: 0% 0% 0% 0%;
}
.column1 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 20px;
  font-size: x-large;
  width: 40%;
  float: left;
  margin: 1%;
}

.column2 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 20px;
  font-size: x-large;
  width: 40%;
  float: right;
  margin: 1%;
}

.bottomBox{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 20px;
  font-size: x-large;
  margin-top: 15px;
  text-align: center;
}

.answerBox {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 10px;
  font-size: x-large;
  text-align: center;
  margin: 15px auto;
  width: 50%;
}


.quizLink {
  font-size: x-large;
  font-family: helvetica;
  color: white;
  text-align: center;
  border-radius: 25px;
  border: 3px;
}

.goBack {
  font-size: x-large;
  font-family: helvetica;
  color: white;
  text-align: left;
  border-radius: 25px;
}

a:hover:not(.active) {
  color: rgb(42, 124, 53);
}

a:link {
  text-decoration: none;
}

a, p, li {
  color: white;
}

body {
  background-color: black;
}

img {
  display: block;
  margin: auto;
}
